input[type='range'],
input[type='range']:focus,
input[type='range']:active,
input[type='range']::-moz-focus-inner,
input[type='range']::-moz-focusring {
    border: 0;
    outline: none;
    box-shadow: none;
}
input[type='range'] {
    -webkit-appearance: none;
    background-color: #222222;
    height: 1px;
    vertical-align: middle;
    margin: 13px 0 4px 0;
    border: none;
    outline: none;
}
input[type='range']::-moz-range-track {
    -webkit-appearance: none;
    background-color: #222222;
    height: 1px;
    vertical-align: middle;
    border: none;
    outline: none;
    margin: 15px 0 0 0;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #222222;
    height: 10px;
    width: 20px;
    cursor: pointer;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    background-color: #222222;
    height: 10px;
    width: 20px;
    cursor: pointer;
}
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: #222222;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    width: 100%;
    height: 100%;
}
#videoElement {
    width: 132px;
    height: 105px;
}
#canvas2 {
    position: absolute;
    margin-left: 190px;
    margin-top: 17px;
    z-index: 2;
}
a {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
.fullScreen .github {
    display: none;
}
#daw {
    width: 132px;
}
#daw img {
    width: 50%;
    float: left;
}
#search {
    border: 0;
    width: 90%;
    background: #eee;
    padding: 5%;
    margin: 0;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0px;
}
.full {
    cursor: pointer;
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    z-index: 100;
    top: 18px;
    right: 20px;
}
.full span {
    border: solid 1px #000;
    position: absolute;
    width: 4px;
    height: 4px;
}
.full .full-in-1 {
    border-right: 0;
    border-bottom: 0;
    left: 0;
    top: 0;
}
.full .full-in-2 {
    border-left: 0;
    border-bottom: 0;
    right: 0;
    top: 0;
}
.full .full-in-3 {
    border-left: 0;
    border-top: 0;
    right: 0;
    bottom: 0;
}
.full .full-in-4 {
    border-right: 0;
    border-top: 0;
    left: 0;
    bottom: 0;
}
.full:before {
    content: '';
    background: #222222;
    position: absolute;
    height: 8px;
    width: 8px;
    left: 5px;
    top: 5px;
}
.video {
    position: relative;
}
#canvasVideo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -66px;
}
.nav-bar {
    margin-top: 0px;
}
.nav-bar {
    display: inline-block;
    position: relative;
    padding: 50px 20px 50px 20px;
    z-index: 100;
}
.nav-bar-bg {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 174px;
    height: 100%;
    z-index: 99;
}
.canvas-con {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.boto-open {
    padding: 6px;
    background: rgba(255, 255, 255, 0.81);
    width: 24px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 1;
}
.boto-open div {
    display: block;
    border-top: 2px solid #222222;
    width: 20px;
    height: 10px;
    position: absolute;
    left: 8px;
    top: 8px;
    border-bottom: 2px solid #222222;
    z-index: 99;
}
.boto-open div:before {
    content: '';
    width: 20px;
    display: block;
    top: 4px;
    position: absolute;
    border-bottom: 2px solid #222222;
}
.boto-tancar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 201;
    width: 50px;
    height: 50px;
    padding-left: 11px;
}
.boto-tancar div {
    position: absolute;
    left: 17px;
    top: 26px;
    border-top: 1px solid #222222;
    width: 25px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.boto-tancar div:before {
    content: '';
    width: 25px;
    display: block;
    border-bottom: 1px solid #222222;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.nav-bar a {
    cursor: pointer;
    padding: 6px 0;
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
}
.nav-bar .btn-data a {
    width: 50%;
    float: left;
}
.nav-bar a.active {
    background-color: #222222;
    color: #dddddd;
}
.btn-data {
    padding: 0;
    margin: 0 0 0 0;
}
#waveCanvas {
    background-color: rgba(0, 0, 0, 0.05);
}
.separador {
    display: block;
    border-bottom: 1px dashed #222222;
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon-carpeta {
    display: inline-block;
    width: 9px;
    height: 5px;
    position: relative;
    border-left: 1px solid  #999;
    border-right: 1px solid  #999;
    border-bottom: 1px solid  #999;
    border-top: 2px solid  #999;
}
.icon-carpeta:before {
    content: '';
    position: absolute;
    top: 2px;
    width: 2px;
    left: 1px;
    border-top: 1px solid  #999;
}
.video {
    margin: 0;
    padding: 0;
}
.section {
    margin-top: 8px;
    margin-bottom: 8px;
}
.section h3 {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: #eee;
    background: #222222;
    line-height: 10px;
    padding: 3px 3px 2px 3px;
    cursor: pointer;
    margin: 0;
}
.section h3:before {
    content: '';
    border: 4px solid transparent;
    border-left: 4px solid #fff;
    display: block;
    float: left;
    margin-right: 2px;
    margin-left: 2px;
}
.section h3.open:before {
    border: 4px solid transparent;
    border-top: 4px solid #fff;
    margin-top: 3px;
    margin-left: 0px;
    margin-right: 4px;
}
.section .body {
    display: none;
    margin-bottom: 25px;
}
@media all and (max-width: 699px) {
    .full {
        display: none;
    }
    .nav-bar-bg {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.95);
    }
    .section h3 {
        padding: 3px 3px 4px 4px;
    }
    .section h3:before {
        margin-top: 1px;
    }
    .section h3.open:before {
        margin-top: 4px;
    }
    #play {
        margin-top: 20px;
        padding: 15px 0;
    }
    input[type='range'] {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }
    .nav-bar {
        display: block;
        position: relative;
        z-index: 100;
    }
    .nav-bar a,
    .nav-bar .btn-data a {
        font-weight: bold;
        display: block;
        padding: 15px 0;
        margin-top: 10px;
    }
    .nav-bar input {
        margin: 20px 0 10px 0;
        width: 100%;
    }
    .nav-bar .video {
        margin: 10px 0  20px 0;
    }
    .boto-tancar,
    .boto-open {
        display: block;
    }
    .btn-data {
        display: block;
        float: none;
    }
    #play {
        display: block;
    }
    #canvas2 {
        margin-left: 0!important;
        margin-top: 0!important;
    }
    #audioElement {
        display: block;
        width: 100%;
    }
    #canvasVideo {
        margin-left: -140px;
    }
    input[type='range']::-webkit-slider-thumb {
        height: 25px;
        width: 50px;
    }
    input[type='range']::-moz-range-thumb {
        height: 30px;
        width: 50px;
    }
    input[type='range'] {
        height: 1px;
    }
    input[type='range']::-moz-range-track {
        height: 1px;
    }
    #videoElement {
        width: 280px;
        height: 160px;
    }
    #daw {
        width: 100%;
    }
}
